@font-face {
    font-family: 'AbadiMTStd';
    src: url('AbadiMTStd.otf');
}

body{
    font-family: 'AbadiMTStd';
}

::selection{
    background: #00ff00;
}

#star, #header, .headings, #contact, ul, #stardust{
    cursor: default;
}

a {
    color: black;
    /* text-decoration: underline; */
}

a:hover {
    color: black;
    text-decoration: none;
}

.card{
    border: none;
}

#works-img{
    opacity: 0.7;
    filter: grayscale(100%);
}

#works-img:hover{
    opacity: 0.8;
}

footer {
    background-color: lightslategray;
    font-style: normal;
}

#avi{
    max-width: 25%;
    opacity: 1;
}

/* img, #stardust{
    cursor: pointer;
} */

/* background-color: #bcc5cf; */